.home-page,
.home-page * {
  box-sizing: border-box;
}
.home-page {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.prem-patel {
  color: #d3d3d3;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 40px;
  width: 500px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home {
  color: #d3d3d3;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  position: absolute;
  left: 1080px;
  top: 58px;
  width: 171px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about {
  color: #d3d3d3;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  position: absolute;
  left: 1180px;
  top: 68px;
  width: 79px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact {
  color: #d3d3d3;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  position: absolute;
  left: 1272px;
  top: 71px;
  width: 158px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.let-s-create-a-website-design {
  color: #d3d3d3;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 72px;
  font-weight: 700;
  position: absolute;
  left: 68px;
  top: 303px;
  width: 1304px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prem-patel-data-engineer-profile {
  color: #d3d3d3;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 262px;
  top: 504px;
  width: 916px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle {
  background: #a8ff35;
  border-radius: 30px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 702px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 630px;
  top: 702px;
  width: 180px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prem-patel-university-of-maryland-fall-2025 {
  color: #d3d3d3;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 405px;
  top: 875px;
  width: 630px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}